.body{
background-image:url('./huellas2.png');
width:100vw;
height: 600px;
background-size: 100%;}


.container{
    text-align:center;
    display: flex;
    flex-direction: row;
    margin-left: 490px;
}

.select{
  margin-left: 25px ;
  background-color:rgb(241, 207, 53);
}
.button{
    color: solid black;
    border-color: solid black;
    background-color: rgb(246, 255, 126);
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 20px;
}
.errorMsg {
  text-align: center;
  color: #ff0000;
  background-color: black;
  font-size: 10px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  letter-spacing: 1px;
}

.button:hover{
    color: rgb(246, 255, 126);;
    border-color: solid black;
    background-color: black;
  }

.link{
  width: 70px;
  height: 30px;
  border-radius: 12px; 
}

.input{
margin-top:15px;
border-radius: 2px;
}

input:invalid {
    border: 2px dashed red;
  }
  
  
input:valid {
    border: 2px solid black;
}

.btnclose{
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  width: 25px;
  height: 25px;
  align-items: center;
  text-align: center;
  border-color: none;
  border: none;
}
.countemp{
  background-color: rgba(187, 177, 177, 0.835);
  align-items: center;
  width: 150px;
  margin-left: 65px;
}
.btnclose:hover{
  background-color: rgba(0, 0, 0, 0);
  color: red;
}